.title {
  text-align: center;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  /* display: inline-block; */
  flex: 0 0 auto;
  margin-left: 10px;
  margin-right: 5px;
}