/* Header */
.headerMenu {
  width: 100%;
  height: 60px;
  background-color: white;
}

.innerHeaderMenu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 50%;
  font-size: 21px;
}

/* Hamburger Menu CSS below */
.hamburgerMenu {
  margin-top: 15px;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 26px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Expanded Menu */
.expanedMenu {
  height:100%;
  width:0;
  position:fixed;
  z-index:2;
  top:0;
  left:0;
  background-color: white;
  border: 1px solid #D8D8D8;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 50%;
  font-size: 21px;
  text-align: center;
  overflow-x:hidden;
  padding-top:15px;
  transition: 0.25s;
  /* transition-timing-function: ease-in; */
}
