.card {
    width: 160px;
    height: 220px;
    font-family: 'Helvetica Neue';
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #979797;
    padding: 12px 10px 12px 10px;
    cursor: pointer;
    word-wrap: break-word;
    position: relative;
    z-index: 1;

    /* prevent text highlighting in cards */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* iPhone 6 and iPhone X screens */
/* Samsung s8 screen */
@media (max-width: 380px) {
    .card {
      width: 112px;
      height: 154px;
      font-size: 17px;
    }
    .status {
        width: 112px;
        font-size: 15px;
    }
}

/* CardType specific styling below */

/* Placeholder cards */
.placeholder {
    background-color: transparent;
    border: 3px dashed #6F6F6F;
    color: #6F6F6F;
    text-align: center;
    position: relative;
    line-height: 220px;
}

/* Black Title Cards */
.Title {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 330px;
    background-color: black;
    color:  #F7F7F7; 
    line-height: .2;
    margin-top: 20px;
    font-size: 26px;
    box-shadow: -20px 8px 2px 0px rgba(0,0,0,.5);
    border: 0px;
    opacity: 50%;
    padding-left: 25px;
    padding-top: 40px;
}

.Title h3 {
    margin-top: 0;
}

/* Link inside of a Title Card */
.Title a {
    font-size: 25px;
    color: white;
}

/* Question (Black) Cards */
.Q {
    background-color: black;
    color:  #F7F7F7;
}

/* Answer (White) Cards) */
.A {
    background-color: #F7F7F7;
    color: black;
}

.link {
    margin-top: 40%;
}

/* Styles for adding Status modal to a black card*/
.status {
    background: white;
    border-radius: 0 0 8px 8px;
    margin-top: -11px;
    height: 35px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #979797;
    z-index: 0;
    position: relative;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
