/* Or Component */
.orDiv {
    width: 80%;
    height: 20px; 
    border-bottom: 1px solid black; 
    text-align: center;
    margin: 20px auto 20px auto;
}

.orText {
    font-size: 25px; background-color: #FFF; padding: 0 10px;
}
