/* Bottom Half */
.bottom {
  height: 45%;
  z-index: 1;
  background-color: white;
  position: relative;

  /* inner */
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* transition */
  transition: 1s;
}
